$primary: rgba(0, 0, 0, 0.87);
$primary--light: rgba(0, 0, 0, 0.541327);

$main-color: #fff;

$panel-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24),
  0px 0px 4px rgba(0, 0, 0, 0.12);

$assets: "~assets";
